$white: #FFF;
$black: #000;
$background: #F2F2F2;

$primary: #00abee;
$complementary: #ee4300;
$analogousPrimary: #00eeba;
$analogousComplementary: #0034ee;
$triadicPrimary: #4300ee;
$triadicComplementary: #ee00ab;

$primaryDark: #008bcc;
$complementaryDark: #cc4100;
$analogousPrimaryDark: #00cca6;
$analogousComplementaryDark: #0025cc;
$triadicPrimaryDark: #4100cc;
$triadicComplementaryDark: #cc008b;

$primaryLight: #53c5f1;
$complementaryLight: #f18053;
$analogousPrimaryLight: #53f1cf;
$analogousComplementaryLight: #5376f1;
$triadicPrimaryLight: #8053f1;
$triadicComplementaryLight: #f153c5;

$disabledColor: #666;
$disabledBackground: #CCC;
